{{ define "main" }}

<div class="row">
<div class = "container pt-90">
    <h1 class = "">{{ .Title }}</h1>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0">
                Code
              </h6>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                {{ .Params.code | markdownify }}
              </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0">
                Status
              </h6>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <span class="badge badge-pill badge-success">{{ .Params.status }}</span>
              </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0">
                Developers
              </h6>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <a href = "{{ .Params.developers }}" target="_blank">{{ .Params.developers }}</a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0">
                Photos
              </h6>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <a href = "{{ .Params.photos }}" target = "_blank">{{ .Params.photos }}</a>
              </div>
            </div>
          </div>

        <div class="card">
          <div class="card-header" id="headingOne">
            <h6 class="mb-0">
              Short description
            </h6>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{ .Params.short_description | markdownify }}
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0">Description</h6>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                {{ .Params.description | markdownify }}
              </div>
            </div>
          </div>


      </div>

</div>
</div>


{{ end }}